* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
#root {
  height: 100%;
}

.bp-table-container:focus {
  outline: none;
}

.bp-table-column-name {
  font-weight: bold;
  font-size: 10px;
}

.bp-table-truncated-text {
  height: 100%;
}